<% include header.ejs%>
        
<nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/vp">View Products</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div id="content"
    <div class="container-fluid" style="padding-left:80px">
        <p> Amazon.com, Inc. is an American electronic commerce and cloud computing company with headquarters in Seattle, Washington. It is the largest Internet-based retailer 
            in the United States. Amazon.com started as an online bookstore, but soon diversified, selling DVDs, Blu-rays, CDs, video downloads/streaming, MP3 downloads/streaming,
             software, video games, electronics, apparel, furniture, food, toys and jewelry. The company also produces consumer electronics—notably, Amazon Kindle e-book readers, 
            Fire tablets, Fire TV and Fire Phone—and is the world's largest provider of cloud infrastructure services (IaaS). Amazon also sells certain low-end products like USB 
            cables under its in-house brand AmazonBasics.</p>
        <p> Amazon has separate retail websites for United States, United Kingdom & Ireland, France, Canada, Germany, Italy, Spain, the Netherlands, Australia, Brazil, Japan, China, 
            India and Mexico. Amazon also offers international shipping to certain other countries for some of its products. In 2011, it professed an intention to launch its websites 
            in Poland and Sweden.</p>
        
     </div>
 </div>

<% include footer.ejs%>